version: "3"

services:
    bot:
        container_name: macs-verify-bot
        build:
            context: ./discord_verify
            dockerfile: Dockerfile
        restart: always
        environment:
            DB_HOST: macs-verify-db
            DROP_DATABASE: ${DROP_DATABASE}
        networks:
            - macs-verify-bot-net
        depends_on:
            - mongo
    mongo:
        container_name: macs-verify-db
        image: mongo
        restart: always
        volumes:
            - ./db:/data/db
        expose:
            - 27017
        networks:
            - macs-verify-bot-net

volumes:
    db:

networks:
    macs-verify-bot-net:
